body{
    background-color:rgb(255, 255, 255);
    margin-left: 5%;
}
h1{
    background-color: rgb(255, 255, 255);
    margin-left: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p{
    background-color:rgb(255, 255, 255);
    margin-left: 0%;
}
div{
    background-color: rgb(255, 255, 255);
}
ul{
    background-color: rgb(255, 255, 255);
}
li{
    background-color: rgb(255, 255, 255);
}
a{
    background-color: rgb(255, 255, 255);
}
form{
    background-color: rgb(255, 255, 255);
    margin-left: 80%;
    block-size: 14px;
}
input{
    background-color: rgb(231, 231, 231);
}
button{
    background-color: gray;
}
.li2{
    background-color: rgb(255, 255, 255);
}
table td{
    border: 1px solid black;
}
img{
    display: block;
    width: 20%;
    height: auto;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 5%;
    margin-bottom: 5%;
}